# dependencies
node_modules

# testing
coverage
coverage.json

# production
build
dist

# misc
.DS_Store

# hardhat
cache
artifacts
typechain
typechain-types
types

# frontend
.next
out
frontend/node_modules

